/SQLServerProject/nbproject/private/
/SQLServerProject/build/
/SQLServerProject/dist/
DatabaseCredentials.java
DatabaseCredentials/
tara.txt
/SQL CONNECTION CHECK/SqlConnectionCheck/nbproject/private/
